{% extends "ind.html" %}
{% block content %}
<div class="col-lg-12 tm-form-header pl-5 pr-5">
  <h2 class="tm-container-inner tm-text-color-white">{{display.name}} Recipe </h2>
</div>
<br>
  {% if display %}
      <p>{{display.description}}</p>
      <img src="{{ display.image.url }}" height="360" width="400" align="left" border="1">
      <h4><B>INGREDIENTS-</B></h4>
      <p>{{display.ingredients}}</p>
      <h4><B>DIRECTIONS-</B></h4>
      <p>{{display.directions}}</p>
      <h4><B>TIME</B> -{{display.time}}</h4>
      <br>
  {% else %}
    <h4>NOT FOUND</h4>
  {% endif %}
{% endblock %}
